.vscode/
.vs/
__pycache__/
data/

cloner/

test.py
test/
results/

build/
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
Makefile

weak_learner/decision_stump/build/
weak_learner/decision_stump/CMakeFiles/
weak_learner/decision_stump/cmake_install.cmake
weak_learner/decision_stump/CMakeCache.txt
weak_learner/decision_stump/Makefile
